<div *ngIf="formGroup" class="row">
    <div class="col-md-12">
        <form [formGroup]="formGroup">
            <mat-horizontal-stepper formArrayName="formArray" #stepper>
                <mat-step [formGroupName]="step" *ngFor="let ary of formArray.controls; let step = index">
                    <ng-template matStepLabel>Step {{ step + 1 }}</ng-template>
                    <div class="col-md-6" *ngFor="let ctrl of ary.controls ; let child = index">
                        <ng-container [ngSwitch]="getControlType(step, child)">
                            <div *ngSwitchCase="SettingsPageControlType.EditBox">
                                <app-edit-box-settings-control
                                        [settingsControl]="getSettingsControl(step, child)"
                                        [control]="ctrl">
                                </app-edit-box-settings-control>
                            </div>
                            <div *ngSwitchCase="SettingsPageControlType.Checkbox" class="p-top15">
                                <app-checkbox-settings-control
                                        [settingsControl]="getSettingsControl(step, child)"
                                        [control]="ctrl">
                                </app-checkbox-settings-control>
                            </div>
                        </ng-container>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>
</div>